@import "./colors";

.left-half,
.right-half {
    float: left;
    width: 1.1em;
    height: 2.2em;
    color: white;
    text-align: center;
    margin: 0 1px;
}
.left-half:nth-child(1) {
  border-radius: 2em 0 0 2em;
  background: $main-black;
}
.right-half:nth-child(2) {
  border-radius: 0 2em 2em 0;
  background: #fff;
}

.dark-btn {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background-color: $main-black;

    &:hover {
    color: $main-black;
    border-color: $main-black;
    }
}

.bg-black {
    background-color: rgb(5, 5, 5);
}

.white-color {
    color: #fff;
}

.main-styles {
    box-shadow: 0 0 15px rgb(95, 95, 95);
    background-color: $main-black;
}

.border-white {
    border-color: #fff;
}