{% load static %}
<div class="col-3">
    <div class="menu">
        <div class="menu-profile">
            <img width="75" height="75" src="{% static 'img/avatar.png' %}" alt="avatar">
            <div class="menu-profile__name">{{ custom_user.last_name }} {{ custom_user.first_name }}
                {{ custom_user.second_name }}
            </div>
            <div class="menu-profile__position">{{ role.role_type }}</div>
        </div>
        <div class="menu-list">
            <ul class="menu-list__ul">
                <a href="/">
                    <li>Главная</li>
                </a>
                <a href="/documents">
                    {% if role.role_type == 'Teacher' %}
                    <li>Программы обучения</li>
                    {% elif role.role_type == 'HOD' %}
                    <li>Назначение программ обучения</li>
                    {% else %}
                    <li></li>
                    {% endif %}
                </a>
                <a href="/about">
                    <li>Обратная связь</li>
                </a>
            </ul>
        </div>
        <div class="menu-footer">
            <p><a href="/logout"><span>Выйти</span></a> из аккаунта</p>
        </div>
    </div>
</div>