{% include 'base/header.html' %}
{% load static %}
<body>
{% include 'base/body.html' %}
{% block body %}
<div class="main">
    <div class="container h-100">
        <div class="row d-flex h-100">
            {% include 'base/menu.html' %}
            <div class="col-9 pt-5">
                <div class="card-inner">
                    {% if role.role_type == 'HOD' %}
                    {% for teacher in all_teachers %}
                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <p>{{ teacher.last_name }} {{ teacher.first_name.0 }}.{{ teacher.second_name.0 }}.</p>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="">
                                <p>Текущие РПД:</p>
                                <ul>
                                    {% for document in all_documents %}
                                    {% if document.user == teacher %}
                                        <li>{{ document.document_name }} ({{ document.status.status }})</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <input type="hidden" value="{{ teacher.id }}" name="teacher_id">
                                {% csrf_token %}
                                <label>
                                    <select name="program_name" class="form-select">
                                        {{ disciplines }}
                                        {% for discipline in disciplines %}
                                        <option value="{{ discipline }}">{{ discipline }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="hidden" name="link" value="1">
                                <input type="hidden" name="status" value="1">
                                <input type="hidden" name="new_document" value="True">
                                <button type="submit" class="btn btn-primary">Назначить РПД</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% elif role.role_type == 'Teacher' %}
                    <table id="startingTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="th-sm">Дисциплина
                            </th>
                            <th class="th-sm">Профиль
                            </th>
                            <th class="th-sm">Курс
                            </th>
                            <th class="th-sm">Семестр
                            </th>
                            <th class="th-sm">Статус
                            </th>
                            <th class="th-sm">Файл
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents %}
                        <tr>
                            <td><a class="btn" href="/themes?document={{ document.id }}">{{ document.document_name }}</a></td>
                            <td>{{ document.profile_name }}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>{{ document.status.status }}</td>
                            <td>
                                <form class="main-form" id="generate" action="" method="POST">
                                    {% csrf_token %}
                                    <button type="submit">Сгенерировать документ</button>
                                    <input name="generate" type="hidden" value="True">
                                    <input name="document" type="hidden" value="{{ document.id }}">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- <footer class="footer">
    <p>&copy Лучшая команда КИС 2022</p>
</footer> -->
{% include 'base/scripts.html' %}
</body>