{% include 'base/header.html' %}
{% load static %}
<body>
{% include 'base/body.html' %}
{% block body %}
<div class="main">
    <div class="container h-100">
        <div class="row d-flex h-100">
            {% include 'base/menu.html' %}
            <div class="col-9 pt-5">
                <div class="card-inner">
                    <table id="startingTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="th-sm">Дисциплина
                            </th>
                            <th class="th-sm">Профиль
                            </th>
                            <th class="th-sm">Курс
                            </th>
                            <th class="th-sm">Семестр
                            </th>
                            <th class="th-sm">Статус
                            </th>
                            <th class="th-sm">Файл
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents %}
                        <tr>
                            <td><a class="btn" href="/themes?document={{ document.id }}">{{ document.program_name.program_name }}</a></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <form action="" method="POST">
                            {% csrf_token %}
                            <label>
                                <select name="program_name">
                                    {% for discipline in disciplines %}
                                    <option value="{{ discipline.program_name }}">{{ discipline.program_name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <input type="hidden" name="link" value="1">
                            <input type="hidden" name="status" value="1">
                            <input type="hidden" name="new_document" value="True">
                            <button type="submit">
                                Добавить документ +
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- <footer class="footer">
    <p>&copy Лучшая команда КИС 2022</p>
</footer> -->
{% include 'base/scripts.html' %}
</body>