{% include 'base/header.html' %}
{% load static %}
<body>
{% include 'base/body.html' %}
{% block body %}
<div class="main">
    <div class="container h-100">
        <div class="row d-flex h-100">
            {% include 'base/menu.html' %}
            <div class="col-9 pt-5">
                <div class="card-inner">
                    {% for document in documents %}
                        <a class="btn" href="/themes?document={{ document.id }}">{{ document.name }}</a>
                    {% endfor %}
                    <div class="card-btn_addmodule">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="text" name="name">
                            <input type="hidden" name="link" value="1">
                            <input type="hidden" name="status" value="1">
                            <input type="hidden" name="new_document" value="True">
                            <button type="submit">
                                Добавить документ +
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- <footer class="footer">
    <p>&copy Лучшая команда КИС 2022</p>
</footer> -->
{% include 'base/scripts.html' %}
</body>