<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css">
    <title>Восстановление пароля</title>
</head>

<body>
    <!--Loader-->
    <div class="mask">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!--/Loader-->
    <div class="authorization">
        <div class="authorization-block">
            <div class="authorization__title">Восстановление пароля <span>Curriculum Creator</span></div>
            <form action="submit" class="authorization-form">
                <div class="authorization-form__block">
                    <label for="name">Логин:</label>
                    <input name="login" type="text">
                </div>
                <div class="authorization-form__block">
                    <label for="email">Почта:</label>
                    <input name="email" type="email">
                </div>

                <div>
                    <button type="submit">Отправить письмо</button>
                </div>
                <p>На вашу почту придет письмо с инструкцией восстановления пароля от аккаунта. <a
                        href="authorization.html"><span>Вернуться
                            обратно</span></a></p>
            </form>
        </div>
    </div>

    <script src="../../static/js/loader.js"></script>
    <script src="../../static/js/canvas.js"></script>
</body>

</html>