{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Excel parser</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


</head>

<body>
    <div>
        <!--First page-->
        {% if step == 1 %}
        <header class="header">
            <div class="header-wrapper">
                <h1 class="header__title">Excel parser app</h1>
            </div>
        </header>

        <section class="main">
            <div class="main__line"></div>
            <div class="main-wrapper">
                <div class="main-header">
                    <h1 class="main__title">Выберите необходимый факультет:</h1>
                    <div class="main-btn__container">
                        <div class="circle">
                            <div class="left-half"></div>
                            <div class="right-half"></div>
                        </div>
                    </div>
                    <p class="main__changetheme">Change theme</p>
                </div>

                <form class="main-form" id="profiles" action="" method="POST">
                    {% csrf_token %}
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Название факультета</th>    
                                <th>Кнопка</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in profiles %}
                            <tr>
                                <td>
                                    {{ profile }}
                                </td>
                                <td>
                                    <input class="main__btn" type="submit" name="profile" value="{{ profile }}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </section>
        {% endif %}

        <!--Second page-->
        {% if step == 2 %}

        <header class="header">
            <div class="header-wrapper">
                <h1 class="header__title">Excel parser app</h1>
            </div>
        </header>

        <section class="main">
            <div class="main__line"></div>
            <div class="main-wrapper">

                <div class="main-header">
                    <h1 class="main__title">Выберите необходимый предмет:</h1>
                    <div class="main-btn__container">
                        <div class="circle">
                            <div class="left-half"></div>
                            <div class="right-half"></div>
                        </div>
                    </div>
                    <p class="main__changetheme">Change theme</p>
                </div>
                <form class="main-form" id="disciplines" action="" method="POST">
                    {% csrf_token %}

                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Название факультета</th>    
                                <th>Кнопка</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in profiles %}
                            <tr>
                                {% for key, value in data.items %}
                                <td>
                                    {{ key }}
                                </td>
                                <td>
                                    <input type="hidden" name="profile" value="{{ profile }}">
                                    <input class="main__btn" type="submit" name="discipline" value="{{ key }}">                      
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </section>

        {% endif %}

        <!--Third page-->
        {% if step == 3 %}

        <header class="header">
            <div class="header-wrapper">
                <h1 class="header__title">Excel parser app</h1>
            </div>
        </header>

        <section class="main">
            <div class="main__line"></div>
            <div class="main-wrapper">
                <div class="main-header">
                    <h1 class="main__title">Скачать готовый документ:</h1>
                    <div class="main-btn__container">
                        <div class="circle">
                            <div class="left-half"></div>
                            <div class="right-half"></div>
                        </div>
                    </div>
                    <p class="main__changetheme">Change theme</p>
                </div>
                <form class="main-form" id="download" action="" method="GET">
                    <input class="main__btn" type="submit" value="Скачать документ"
                        onclick="window.open('download/?file={{ path }}&name={{ name }}')">
                </form>
            </div>
        </section>
        {% endif %}
    </div>


    <script src="../../static/js/darktheme.js"></script>
    <script src="../../static/js/jQuery.js"></script>
    <script src="../../static/js/jQuery-datatables.min.js"></script>
    <script src="../../static/js/jQuery-datatables-bootstrap5.min.js"></script>
    <script src="../../static/js/data-table.js"></script>
    <script src="../../static/js/dataTable-custom.js"></script>
</body>

</html>