{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Excel parser</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
</head>

<body>
<div>
    <div class="container py-5">
        <h1>Login</h1>
        <form method="POST" action="/">
            {% csrf_token %}
            <input type="text" title="Username" name="username">
            <input type="password" title="Password" name="password">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
</body>