{% include 'base/header.html' %}
{% load static %}
<body>
    {% include 'base/body.html' %}
    {% block body %}
    <div class="main">
        <div class="container h-100">
            <div class="row d-flex h-100">
                {% include 'base/menu.html' %}
                <div class="col-9 pt-5">
                    <div class="card-inner">
                        {% if custom_user.role_id != 1 %}
                            {{ hello }}
                        {% else %}
                            <form method="POST" enctype="multipart/form-data" action="/">
                                {% csrf_token %}
                                <p>Файл матрицы компетенций</p>
                                <input type="file" name="work_program">
                                <p>Файл учебного плана</p>
                                <input type="file" name="time_plane">
                                <button type="submit">Загрузить файлы</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- <footer class="footer">
        <p>&copy Лучшая команда КИС 2022</p>
    </footer> -->
    {% include 'base/scripts.html' %}
</body>
