{% include 'base/header.html' %}
{% load static %}
<body>
{% include 'base/body.html' %}
{% block body %}
<div class="main">
    <div class="container h-100">
        <div class="row d-flex h-100">
            {% include 'base/menu.html' %}
            <div class="col-9 pt-5">
                <div class="card-inner">
                    {% for module in modules %}
                    <!--Module-->
                    <div class="card-module">
                        <p class="card-module__title">Модуль {{ module.module }}</p>
                        <div class="card-module__content">
                            <div class="card-module__cards">
                                {% for section in sections %}
                                {% if section.module_id_id == module.id %}
                                <div class="card" style="width: 18rem;">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <label>
                                                <input type="text" name="header" class="card-title"
                                                       value="{{ section.header }}">
                                            </label>
                                            <label>
                                                <textarea class="card-title" name="description">{{ section.description }}</textarea>
                                            </label>
                                            <label>
                                                <input type="number" name="classwork" class="card-title classwork"
                                                       value="{{ section.classwork_hours }}">
                                            </label>
                                            <label>
                                                <input type="number" name="homework" class="card-title homework"
                                                       value="{{ section.homework_hours }}">
                                            </label>
                                            <label>
                                                <input type="number" name="semester" class="card-title"
                                                       value="{{ section.semester }}">
                                            </label>
                                            <label>
                                                <input type="number" name="week" class="card-title"
                                                       value="{{ section.week }}">
                                            </label>
                                            <button type="submit" class="card-link">Сохранить</button>
                                            <label>
                                                <input type="hidden" name="pk" value="{{ section.id }}">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-btn_addchapter">
                                <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#addSectionModal-{{ forloop.counter }}">
                                    Добавить раздел +
                                </button>
                                <div class="modal fade" id="addSectionModal-{{ forloop.counter }}" tabindex="-1"
                                     aria-labelledby="addSectionModalLabel" style="display: none;"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen">
                                        <div class="modal-content">
                                            <form method="POST" action="">
                                                <input type="hidden" value="True" name="new_section">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h5 class="modal-title h4" id="exampleModalFullscreenLabel">
                                                        Добавление нового раздела</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <label>
                                                        <input type="text" name="new_header" class="card-title"
                                                               required>
                                                    </label>
                                                    <label>
                                                            <textarea class="card-title" name="new_description"
                                                                      required></textarea>
                                                    </label>
                                                    <label>
                                                        <input type="number" name="new_classwork"
                                                               class="card-title classwork"
                                                               required>
                                                    </label>
                                                    <label>
                                                        <input type="number" name="new_homework"
                                                               class="card-title homework"
                                                               required>
                                                    </label>
                                                    <label>
                                                        <input type="number" name="new_semester" class="card-title"
                                                               required>
                                                    </label>
                                                    <label>
                                                        <input type="number" name="new_week" class="card-title"
                                                               required>
                                                    </label>
                                                    <label>
                                                        <input type="hidden" name="new_module"
                                                               value="{{ module.id }}">
                                                    </label>
                                                    <label>
                                                        <input type="hidden" name="new_theme"
                                                               value="{{ theme.id }}">
                                                    </label>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="card-link">
                                                        Сохранить
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/Module-->
                    {% endfor %}
                    <div class="card-btn_addmodule">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button type="submit">
                                Добавить модуль +
                            </button>
                            <input type="hidden" name="theme" value="{{ theme.id }}">
                            <input type="hidden" name="last_module" value="{{ last_module }}">
                            <input type="hidden" name="new_module" value="True">
                        </form>
                        {% if not generated %}
                        <form class="main-form" id="generate" action="" method="POST">
                            {% csrf_token %}
                            <button type="submit">Сгенерировать документ</button>
                            <input name="generate" type="hidden" value="True">
                        </form>
                        {{ generated }}
                        {% else %}
                        <form class="main-form" id="download" action="" method="GET">
                            <input class="main__btn" type="submit" value="Скачать документ"
                                   onclick="window.open('/download/?file={{ path }}&name={{ name }}')">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- <footer class="footer">
    <p>&copy Лучшая команда КИС 2022</p>
</footer> -->
{% include 'base/scripts.html' %}
<script>
    let classwork_hours = {{ classwork_hours }};
    let homework_hours = {{ homework_hours }};
    let classwork = document.querySelectorAll(".classwork");
    let homework = document.querySelectorAll(".homework");
    classwork.forEach(el => el.addEventListener('change', event => {
        let sum = 0;
        for (let i = 0; i < classwork.length; i++) {
            let tmp = parseInt(classwork[i].value, 10);
            if (!isNaN(tmp)) {
                sum += tmp;
            }
        }
        // console.log(sum)
        if (sum > classwork_hours) {
            alert("Вы превысили максимальное допустимое число часов: {{ classwork_hours }}");
            el.value = 0;
        }
        if (sum % 2 !== 0) {
            alert('Вы ввели нечётное число');
            el.value = 0;
        }
    }));
    homework.forEach(el => el.addEventListener('change', event => {
        let sum = 0;
        for (let i = 0; i < homework.length; i++) {
            let tmp = parseInt(homework[i].value, 10);
            if (!isNaN(tmp)) {
                sum += tmp;
            }
        }
    if (sum > homework_hours) {
        alert("Вы превысили максимальное допустимое число часов: {{ homework_hours }} ");
        el.value = 0;
    }
    if (sum % 2 !== 0) {
            alert('Вы ввели нечётное число');
            el.value = 0;
        }
    }));
</script>
</body>